{% extends 'base.html.twig' %}

{% block title %}Hello CinemaController!{% endblock %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% set foo = 2 %}


    </div>
    <label>
        <select id="room-number" onchange="roomChanger">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </label>
    {{ form_start(form) }}
    <table style="border: black 1px solid;border-collapse: collapse;">

        <tr style="border: black 1px solid;border-collapse: collapse;">
            {% for cinema in cinemas %}
            {% if cinema.roomNumber == foo %}
            {% if cinema.reservation is null %}
                {% set status = 'greenyellow' %}
                {% set statusDis = 'enabled' %}
            {% else%}
                {% set status = 'red' %}
                {% set statusDis = 'disabled' %}
            {% endif %}
            <td style="background-color: {{ status }};border: black 1px solid;border-collapse: collapse;"><label>
                    <input type="checkbox" {{ statusDis }} name="seats[]" value="{{ cinema.id }}">
                </label>{{ cinema.lineNumber }}-{{ cinema.seatNumber }}</td>
            {% if cinema.seatNumber == 10 %}
        </tr>
        <tr style="border: black 1px solid;border-collapse: collapse;">

            {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    {% for message in app.flashes('error') %}
        <div class ="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
